<p style="color: green"><%= notice %></p>

<%= render @winner %>

<div>
  <%= link_to "Edit this winner", edit_winner_path(@winner) %> |
  <%= link_to "Back to winners", winners_path %>

  <%= button_to "Destroy this winner", @winner, method: :delete %>
</div>
