<div class="page-header" style="color: red;">
    <div class="container">
        <h1 class="title">Tambah Sejarah</h1>
    </div>
    <div class="breadcrumb-box">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Add History</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="page-section">
    <div class="container">
        <div class="row">
            
			<div class="col-md-12">
                <% @history.errors.full_messages.each do |message|%>
                    <p style="color: red">
                        <%= message %>
                    </p>
                <% end %>
				<%= form_tag("/history/action_add") do %>
					<input type="text" class="form-control" name="title" value="<%= params[:title] %>" placeholder="Title">
					<textarea name="desc" placeholder="Description" class="form-control"><%= params[:desc] %></textarea>
					<input type="date" name="incident_date" class="form-control" value="<%= params[:incident_date] %>">
					<input type="submit" name="" value="Submit" class="btn btn-primary">
				<% end %>
			</div>
        </div>
    </div>
</section>