<%= form_with(model: contestant) do |form| %>
  <% if contestant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
        <% contestant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :contest_id, style: "display: block" %>
    <%= form.number_field :contest_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
