<% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
        <%= message %>
    </div>
<% end %>
<div class="popup">
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>Créer Un Compte</h2>
            <%= form_tag("/signup/create") do %>
            <div class="form-element">
                <label for="name">Nom</label>
                <br>
                <input type="text" name="name" value="<%= @user.name %>" placeholder="Nama Lengkap Anda" size="38">
            </div>
            <div class="form-element">
                <label for="email">E-mail</label>
                <br>
                <input type="text" name="email" value="<%= @user.email %>"  placeholder="Alamat Email Anda" size="38">
            </div>
            <div class="form-element">
                <label for="password">Mot de passe</label>
                <br>
                <input type="password" name="password" value="<%= @user.password %>" placeholder="Kata Sandi Anda" size="38">
            </div>
            <div class="form-element">
                <button type="submit" value="Sign up">Créer Mon Compte</button>
            </div>
            <% end %>
            <div class="form-element">
                <a href="/">Vous avez déjà un compte? Connexion</a>
            </div>
        </div>
    </div>