<div id="<%= dom_id contest %>">
  <p>
    <strong>Name:</strong>
    <%= contest.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contest.description %>
  </p>

  <p>
    <strong>Maxcontestant:</strong>
    <%= contest.maxcontestant %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= contest.status %>
  </p>

</div>
